.new-tweet {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 600px;
  align-self: center;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.tweet-counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "bungee", sans-serif;

}

textarea {
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom-width: thick;
  border-top-color: #f4f1ec;
  border-left-color: #f4f1ec;
  border-right-color: #f4f1ec;
  background-color: #f4f1ec;
  
 
}

button {
  background-color: #4056A1;
  color: #FFFFFF;
}

.error-msg {
  display: flex;
  align-self: center;
  color: red;
  border-width: thin;
  border-color: red;
  border-style: dashed;


}


@media only screen and (min-width: 1024px) {

  .new-tweet {
    
    margin-top: 120px;
  }
}

@media only screen and (min-width: 1024px) {


}
